body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  color: #471311;
  line-height: 1.5;
  background: #F4F3ED;
}
body, h1, h2, h3, h4, h5, p, ul, figure {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  vertical-align: top;
}
svg {
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}

.t-center {
  text-align: center;
}

/* space module */
.space-module {
  &_xs {
    position: relative;
    width: 100%;
    height: 25px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 0.1px;
      background: #471311;
    }
  }
  &_s {
    position: relative;
    width: 100%;
    height: 50px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 0.1px;
      background: #471311;
    }
  }
  &_m {
    position: relative;
    width: 100%;
    height: 100px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60px;
      height: 0.1px;
      background: #471311;
    }
  }
  &_l {
    position: relative;
    width: 100%;
    height: 200px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.1px;
      height: 50px;
      background: #471311;
    }
  }
  &_xl {
    position: relative;
    width: 100%;
    height: 400px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.1px;
      height: 100px;
      background: #471311;
    }
  }
}

/* heading */
.level2-heading {
  text-align: center;
  &__inner {
    font-size: 24px;
    &_sub {
      font-size: 16px;
      font-weight: normal;
    }
  }
}
.level3-heading {
  text-align: center;
  &__inner {
    font-size: 20px;
  }
}

/* label */
.label {
  &__wrap {
    margin-bottom: -5px;
  }
  display: inline-block;
  padding: 3px 5px;
  margin: 0 5px 5px 0;
  background: #471311;
  color: #F4F3ED;
  font-size: 12px;
  border-radius: 3px;
}

/* button */
.btn {
  &__wrap {
    width: 100%;
    padding: 25px 0;
    text-align: center;
  }
  display: inline-block;
  width: 200px;
  max-width: 100%;
  padding: 5px 10px;
  background: #331311;
  border: 2px solid transparent;
  border-radius: 3px;
  color: #F4F3ED;
  text-align: center;
  text-decoration: none;
  transition: .25s;
  &:focus,
  &:hover {
    background: #F4F3ED;
    border-color: currentColor;
    color: #471311;
  }
}

/* card */
.card {
  &__wrap {
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -20px;
    padding: 0 15px;
    @media (min-width: 768px) {
      max-width: 1200px;
      margin-bottom: -30px;
      & > *:nth-child(3) {
        margin-right: 0;
      }
    }
  }
  width: 100%;
  border: 2px solid #471311;
  margin-bottom: 20px;
  padding: 15px 10px 5px;
  @media (min-width: 768px) {
    width: 31.707%;
    margin-right: 2.43902%;
    margin-bottom: 30px;
  }
  &_link {
    display: block;
    transition: .25s;
    & .card__ttl,
    & .card__text {
      transition: .25s;
    }
    &:focus, &:hover {
      border: 2px solid #F4F3ED;
      & .card__ttl,
      & .card__text {
        text-decoration: underline;
      }
    }
  }
  &__img-wrap {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    border: 1px solid #471311;
  }
  &__img {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
  &__ttl {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
  }
}

/* about */
.about {
  &__wrap {
    width: 100%;
    @media (min-width: 768px) {
      display: flex;
      align-items: flex-end;
      max-width: 700px;
      margin: 0 auto;
      padding: 0 15px;
    }
  }
}
.about-img {
  &__wrap {
    width: 50%;
    @media (min-width: 768px) {
      flex-shrink: 0;
    }
  }
}
.about-text {
  &_author {
    text-align: right;
  }
  &__wrap {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 50px 15px 25px;
    @media (min-width: 768px) {
      padding: 0 0 0 50px;
    }
  }
}
