/* header */
.header {
  padding:  30px 15px 50px;
  &-inner {
    border: 0.1px solid #471311;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 15px;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 15px 50px;
    }
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 0.1px;
      background: #471311;
      @media (min-width: 768px) {
        width: 0.1px;
        height: 30px;
      }
    }
  }
  &-logo {
    width: 75vw;
    max-width: 150px;
    margin: 0 auto;
    @media (min-width: 768px) {
      margin: 0;
    }
  }
}

.nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
  font-weight: bold;
  margin-top: 20px;
  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.nav li:not(:last-child) {
	margin-right: 55px;
}


