/* svg */
.st0{fill:none;stroke:#471311;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st1{fill:#F4F3ED;}
.st2{fill:#471311;}
.st3{fill:none;stroke:#471311;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;}

/* hero */
.hero {
  display: flex;
  flex-wrap: wrap;
  &-container {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    @media (min-width: 768px) {
      flex-shrink: 0;
      width: 50%;
    }
  }
  &-img {
    max-width: 300px;
    margin: 0 auto;
    padding: 30px 0;
  }
  &-ttl {
    padding: 30px 0 15px;
    font-size: 32px;
    font-weight: bold;
    @media (min-width: 768px) {
      padding: 200px 0 15px;
    }
    &_sub {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 50px;
    }
  }
  &-char {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px 50px;
    @media (min-width: 768px) {
      max-width: 600px;
    }
    & svg {
      transform: rotate(-15deg);
    }
  }
}
